<div class="container__footer">


    <div class="footer">


        <div class="column__footer">
            <h1>Nombre Compañia</h1>
            <p class="p__company">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse odit aspernatur nulla numquam rerum
                reprehenderit error maiores similique perferendis totam velit alias ipsum, suscipit rem. </p>
        </div>


        <div class="column__footer">
            <h1>Servicies</h1>
            <ul>
                <li>Ilustración</li>
                <li>Diseñador Móvil</li>
                <li>Diseñador Web</li>
                <li>Desarrollador</li>
                <li>SEO</li>

            </ul>
        </div>

        <div class="column__footer">
            <h1>Compañia</h1>
            <ul>
                <li>Features</li>
                <li>Our Team</li>
                <li>Portafolio</li>
                <li>Contact Us</li>

            </ul>
        </div>

        <div class="column__footer">
            <h1>Contacto</h1>

            <ul>
                <li><i class="fa-solid fa-house"></i>Chincha</li>
                <li><i class="fa-solid fa-envelope"></i>{{email}}</li>
                <li><i class="fa-solid fa-phone"></i>+51 978 207 325</li>
            </ul>
        </div>
    </div>

    <div class="container__copy">
        <h4>2024 Copyright: JeisonTM.com</h4>


        <ul class="icons__footer">
            <li><i class="fa-brands fa-facebook"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-github"></i></li>
            <li><i class="fa-brands fa-linkedin"></i></li>

        </ul>

    </div>
</div>