<nav class="container__navbar">

    <div class="image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png"
            alt="">
        <button class="btn__navbar"><i class="fa-solid fa-bars"></i></button>
    </div>



    <div class="container__list">
        <ul>
            <li class="enlaces">Home</li>
            <li class="enlaces">About</li>
            <li class="enlaces">Portfolio</li>
            <li class="enlaces">Blog</li>
            <li class="enlaces">Contact</li>
            <button class="btn__contacto">HIRE ME</button>
        </ul>
    </div>

</nav>