

<h1 class="titulo">Servicies</h1>
<div class="container__cards">
    <div class="cards">
        <app-servicie title="Desarrollo de sitios web modernos"
            description="Creo sitios web interactivos y receptivos utilizando las últimas tecnologías frontend para proporcionar una experiencia de usuario excepcional."
            img="../../../assets/twitter.png"></app-servicie>
        <app-servicie title="Desarrollo de aplicaciones móviles"
            description="Transformo ideas en aplicaciones móviles intuitivas y atractivas que cautivan a los usuarios."
            img="../../../assets/facebook.png"></app-servicie>
        <app-servicie title="Desarrollo de aplicaciones web "
            description="Creo aplicaciones web que se comportan como aplicaciones nativas en dispositivos móviles, ofreciendo una experiencia fluida y confiable."
            img="../../../assets/facebook.png"></app-servicie>
    </div>
</div>