<h1 class="titulo">TECH STACK</h1>

<div class="container">
    <div class="skills__container" #skillsContainer>



        <div class="skill">
            <div class="images-container">
                <img src="../../../assets/img_skills/angular.png" alt="">
            </div>
            <h1 class="title-skills">angular</h1>
        </div>

        <div class="skill">
            <div class="images-container">
                <img src="../../../assets/img_skills/pngwing.com (14).png" alt="">

            </div>
            <h1 class="title-skills">angular</h1>
        </div>

        <div class="skill">
            <div class="images-container">
                <img src="../../../assets/img_skills/css.png" alt="">
            </div>
            <h1  class="title-skills">angular</h1>
        </div>



        <div class="skill">
            <div class="images-container">

                <img src="../../../assets/img_skills/pngwing.com (14).png" alt="">

            </div>
            <h1 class="title-skills">angular</h1>
        </div>


        <div class="skill">
            <div class="images-container">
                <img src="../../../assets/img_skills/python.png" alt="">

            </div>
            <h1 class="title-skills">angular</h1>
        </div>

        <div class="skill">
            <div class="images-container">
                <img src="../../../assets/img_skills/pngwing.com (14).png" alt="">

            </div>
            <h1 class="title-skills">angular</h1>
        </div>

        <div class="skill">

            <div class="images-container">
                <img src="../../../assets/img_skills/js.png" alt="">


            </div>
            <h1 class="title-skills">angular</h1>
        </div>

        <div class="skill">
            <div class="images-container">
                <img src="../../../assets/img_skills/pngwing.com (14).png" alt="">

            </div>
            <h1 class="title-skills">angular</h1>
        </div>

        <div class="skill">
            <div class="images-container">
                <img src="../../../assets/img_skills/wp.png" alt="">

            </div>
            <h1 class="title-skills">angular</h1>
        </div>

    </div>
</div>