    .titulo {
        margin-top: 180px;
        color: white;

        font-family: 'Poppins', sans-serif;
        font-size: 32px;
        letter-spacing: 32px;
        line-height: 40px;
        margin-bottom: 72px;
        text-align: center;
        text-transform: uppercase;

    }

    .container {
        max-width: 1075px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        overflow: hidden;
        font-family: 'Poppins', sans-serif;


    }

    .skills__container {
        width: fit-content;
        /* Cambia esto */
        overflow: hidden;
        display: flex;
        gap: 50px;
        padding: 20px 15px;
    }

    .skills__container>div {
        display: inline-block;
    }

    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .skill .images-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        height: 104px;
        margin: 0 auto 20px;
        overflow: hidden;
        transition: all .4s ease;
        width: 104px;
        cursor: pointer;
        flex: 0 0 auto;
    }

    .skills__container div img {
        max-width: 60%;

        filter: grayscale(100);
        transition: all 0.4s ease;
    }

    .skills__container div:hover {
        transform: scale(1.09);
    }

    .skills__container div:hover img {
        filter: grayscale(0);
        transform: scale(1.09);
    }

    .images-container {
        display: flex;

    }

    .title-skills {
        text-align: center;
        font-size: 18px;
        color: white;
        opacity: 0;
        transition: all 0.4s ease;

    }

    .skills__container div:hover .title-skills {
        opacity: 1;
    }


    @media screen and (max-width:1453px) {

        .container {
            max-width: 900px;

        }

    }

    @media screen and (max-width: 1200px) {
        .container {
            max-width: 780px;

        }
        .titulo {
            margin-top: 100px;
        }
    }

    @media (max-width: 880px) {
        .container {
            max-width: 620px;

        }

    }

    @media (max-width: 768px) {
        .container {
            max-width: 470px;

        }

        .skills__container {
            gap: 30px;

        }

        .skill .images-container {

            height: 84px;
            width: 84px;

        }
        .titulo{
            font-size: 28px;
            letter-spacing: 20px;
        }

    }

    @media (max-width: 550px) {
        .container {
            max-width: 350px;

        }

        .title-skills {
            font-size: 15px;
        }
        .titulo {
            margin-top: 50px;
            padding: 0 100px;
            font-size: 25px;
            letter-spacing: 20px;
            margin-bottom: 40px;
        }
    }