<div class="container">
    <div class="main__container">

        <div class="main__descripcion">
            <h3 style="font-size: 20px; color: #43b8ae;margin-bottom: 30px;">Hi, my name is</h3>
            <h1 class="nombre">Jeison Taboada Marcos    </h1>
            <h2 class="apellido">{{ title }}</h2>
            <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sunt dolore officiis
                praesentium quasi consequatur quo, nobis expedita voluptatem nulla excepturi asperiores adipisci
                 </p>
            <div class="btn__container">

                <button class="btn__cv">Descargar CV<i class="fa-solid fa-download"></i></button>
            </div>

            <div class="container__redes__sociales">
                <img style="transform: scale(1.4);" src="../../../assets/../assets/img_redes_sociales/github.png" alt="">
                <img src="../../../assets/../assets/img_redes_sociales/linkedin.png" alt="">
                <img src="../../../assets/../assets/img_redes_sociales/instagram.png" alt="">
                <img src="../../../assets/../assets/img_redes_sociales/facebook.png" alt="">
                <img src="../../../assets/../assets/img_redes_sociales/twitter.png" alst="">
            </div>
        </div>


        <div class="main__imagen">
         
            <div class="imagen">
                <img src="../../../assets/pngwing.com (13).png" alt="">
            </div>
        </div>
    </div>
</div>